@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html, body {margin: 0; height: 100%; overflow: hidden}

.blackBG{
  background-color: #131313;
}

.greentxt{
  color:#1cc784
}

.left-bar{
  position: absolute;
  float: left;
  padding: 2em;
  width: 40vw;
  min-width: 350px;
  max-width: 600px;
  height: 50vh;
  z-index: 2;
}


#map { 
  height: 100%;
  width: 100%;
  float: right;
  z-index: 1;
}

/* #map { 
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
} */

.switch {
    position: fixed;
    display: inline-block;
    z-index: 3;
    top:20px;
    right:50px;
    width: 60px;
    height: 34px;
    /* float:right; */
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    float:right;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #1cc784;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #1cc784;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* direction box */
/* .box {
  /* position:absolute;
  left: 10px;
  top:10px; */
  } */

#news_button {
    position: absolute;
    right: 10px;
    top: 10px;
}

* {
  list-style:none;
}

.container {
  z-index: 1;
  position:absolute;
}

.destination-search {
  /* position: relative; */
  /* top:20px; */
  margin-top: 2em;
}

.news-list{
  z-index: 2
}

.panel-block{
  background-color: white;
}

#news{
  overflow-y: auto;
  height: 40%;
}
